@page
@using Microsoft.AspNetCore.Mvc.Localization
@using RatTracker.Localization
@using RatTracker.Web.Components.Kendo
@using Volo.Abp.Users
@model RatTracker.Web.Pages.IndexModel
@inject IHtmlLocalizer<RatTrackerResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    @await Component.InvokeAsync(typeof(KendoViewComponent))
    <abp-script src="/Pages/Index.js" />
}
<div class="container">
    <div class="p-5 text-center">
        <h1>Welcome to the Application</h1>

        <p class="lead px-lg-5 mx-lg-5">@L["LongWelcomeMessage"]</p>

        <div id="map"></div>

    </div>

</div>
