@page
@using Microsoft.AspNetCore.Mvc.Localization
@using RatTracker.Localization
@using RatTracker.Web.Components.Kendo
@using Volo.Abp.Users
@model RatTracker.Web.Pages.IndexModel
@inject IHtmlLocalizer<RatTrackerResource> L
@inject ICurrentUser CurrentUser
@section styles {
<abp-style src="/Pages/Index.css" />
<link href="~/libs/@@fortawesome/fontawesome-free/css/all.css" rel="stylesheet" />
}
@section scripts {
    @await Component.InvokeAsync(typeof(KendoViewComponent))
<abp-script src="/Pages/Index.js" />
<script id="info-template" type="text/x-kendo-template">
    <h4>#: City #, #= Country #</h4>
    <p class="info">Population #= kendo.toString(Pop2010 * 1000, "N0") #</p>
</script>
<script id="empty-info-template" type="text/x-kendo-template">
    <h4>Hover over urban areas</h4>
    <p>&nbsp;</p>
</script>
}
<div class="container">
    <div class="text-center">
        <p class="lead px-lg-5 mx-lg-5">@L["LongWelcomeMessage"]</p>
        <div class="ratio ratio-16x9">
            <div id="map" class="position-absolute top-0 start-0"></div>
        </div>
    </div>
</div>
