@page
@using Microsoft.AspNetCore.Mvc.Localization
@using RatTracker.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using RatTracker.Web.Pages.Schools
@using RatTracker.Schools;
@using System.Globalization
@inject IHtmlLocalizer<RatTrackerResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Schools/CreateModal" autocomplete="off">
    <abp-modal>
        <abp-modal-header title="@L["NewSchool"].Value"></abp-modal-header>

        <abp-modal-body>
            
            <abp-input asp-for="School.Name"/>

            <abp-input asp-for="School.Address1"/>

            <abp-input asp-for="School.Address2"/>

            <abp-input asp-for="School.Address3"/>

            <abp-input asp-for="School.City"/>

            <abp-input asp-for="School.PostalCode"/>

            
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>